.button {
  background: Transparent no-repeat;
  border: 1px solid $color-blue-light;
  color: $color-blue-light;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 6px 14px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 2px;

  &--light {
    padding: 4px 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: $color-grey-lighter;
    border: 1px solid $color-grey-lighter;
  }

  &--primary {
    background-color: $color-blue-light;
    color: white;
  }

}

