.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8px;

  &__name {
    font-weight: bold;
    margin-bottom: 12px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
  }

  &__street {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
  }

  &__telephone {
    margin-bottom: 8px;
  }

  &__street-icon {
    font-size: 16px;
    margin-right: 8px;
  }

  &__telephone-icon {
    font-size: 16px;
    margin-right: 4px;
  }

  @media only screen and (max-width: 768px) {
    & {
      align-self: stretch;
      flex: none;
      margin-bottom: 0;
    }
    &__name {
      align-self: center;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    &__telephone {
      margin-bottom: 12px;
    }

    &__details {
      flex-direction:column-reverse;
    }
  }
}