.editable-fields {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__item {
    margin-top: 1px;
    align-self: flex-start;
    padding: 7px 0 7px 6px;
    font-weight: 600;
    background-color: $main-background-color;
    font-size: 12px;
    color: $color-grey;
  }

  &__name {
    font-weight: 700;
    color: $font-color;
  }

  &__icon-left {
    margin-right: 8px;
    font-size: 16px;
    color: $color-grey-light;
  }

  &__icon-right {
    margin-left: 8px;
    background-color: $icon-background-color;
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
    color: $color-grey;

    &:focus, &:hover {
      background-color: $color-blue-light;
      color: white;
    }
  }

  @media only screen and (max-width: 768px) {
    &__item {
      background-color: $content-background-color;
      padding-left: 0;
    }

    &__icon-right {
      display: none;
    }
  }
}