.edit-popup {
  background-color: $content-background-color;
  box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 16px;
  z-index: 9999;

  &:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 10px;
    left: -25px; /* 1px buffer for zooming problems while rendering*/
    border: 15px solid transparent;
    border-right-color: white;
  }

  &__form {
    position: relative;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  &__input {
    font-size: 14px;
    width: 100%;
    padding: 8px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;

    &:focus {
      outline: none;
    }

    &:focus ~ .edit-popup__label, &:valid ~ .edit-popup__label {
      top: -10px;
      font-size: 12px;
      color: $color-grey-light;
    }

    &:focus ~ .edit-popup__bar:before, &:focus ~ .edit-popup__bar:after {
      width: 50%;
    }

    &:focus ~ .edit-popup__highlight {
      animation: inputHighlighter 0.3s ease;
    }
  }

  &__label {
    color: $color-grey-light;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  &__bar {
    position: relative;
    display: block;
    width: 100%;

    &:before, &:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $color-grey-light;
      transition: 0.2s ease all;
    }

    &:after {
      right: 50%;
    }

    &:before {
      left: 50%;
    }

    @media only screen and (max-width: 768px) {
      & {
        position: static;
      }
    }

  }

  &__highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin-left: 8px;
    margin-right: 8px;
    flex: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 768px) {
    & {
      box-shadow: none;
    }
    &__buttons {
      justify-content: flex-end;
      position: absolute;
      top: -55px;
      right: 0;
      background-color: white;
    }
    &__button {
      flex: inherit;
    }
    &__form {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

@media only screen and (max-width: 768px) {
  .popup-wrapper {
    position: absolute;
    top: -275px;
    left: 0;
    right: 0;
  }
}

@keyframes inputHighlighter {
  from {
    background: $color-grey-light;
  }
  to {
    width: 0;
    background: transparent;
  }
}