.followers {
  padding: 8px 0;
  display: flex;
  align-items: center;
  font-size: 12px;

  &__icon {
    font-size: 24px;
    margin-right: 8px;
    color: $color-grey-light;
  }

  &__text {
    margin-left: 8px;
    color: $color-grey-light;
  }

  @media only screen and (max-width: 768px) {
    & {
      padding: 8px 24px;
      margin-bottom: 8px;
    }
    &__icon {
      font-size: 26px;
      color: $color-grey-light;
    }
  }
}