body {
  background: $main-background-color;
  font-family: $font-family;
  color: $font-color;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 42px auto;

  @media only screen and (max-width: 1024px) {
    & {
      margin: 42px 32px;
    }
  }

  @media only screen and (max-width: 768px) {
    & {
      margin: 0 0 42px;
    }
  }
}

.divider {
  height: 0;
  border: 0;
  margin: 0;
  width: 100%;
  box-shadow: 0 0 1px 1px rgba(180, 180, 180, 0.1);

  @media only screen and (max-width: 768px) {
    & {
      display: none;
    }
  }
}

.popup-hook {
  position: absolute;
}