.header {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  background-color: $content-background-color;
  box-shadow: $content-box-shadow;
  height: 250px;

  @media only screen and (max-width: 768px) {
    & {
      background-color: $main-background-color;
      box-shadow: none;
      margin-top: 0;
      height: 450px;
    }
  }
}