.menu {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  padding: 0 16px;

  &__row {
    list-style: none;
    display: flex;
    margin: 0;
    flex: 1;
    padding: 0 0 0 156px;
  }

  &__item {
    padding: 16px 8px;
    font-size: 14px;
    cursor: pointer;
  }

  &__item--active {
    padding: 16px 8px 14px;
    border-bottom: 2px solid $color-blue-light;
  }

  &__wrapper {
    flex: 1;
  }

  @media only screen and (max-width: 768px) {
    & {
      flex-direction: column-reverse;
      padding: 0;
      overflow: hidden;
    }

    &__wrapper {
      height: 50px;
    }

    &__item {
      align-self: flex-start;
    }

    &__item--active {
      padding: 16px 8px 13px;
      border-bottom: 2px solid $color-blue-light;
      margin-bottom: 15px;
    }

    &__row {
      overflow-x: scroll;
      overflow-y: hidden;
      height: 80px;
      white-space: nowrap;
      padding: 0 16px;
      background-color: $content-background-color;
      box-shadow: $content-box-shadow;
      -webkit-overflow-scrolling: touch;
    }
  }
}