.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 45px;
  padding-right: 16px;

  @media only screen and (max-width: 768px) {
    &__button-sm {
      font-weight: 600;
      border: none;
    }
  }
}