.page {
  display: flex;
  flex-direction: column;
  background-color: $content-background-color;
  box-shadow: $content-box-shadow;
  height: 250px;
  padding: 20px 32px;
  margin-top: 28px;

  &__title {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  &__edit-icon {
    margin-left: 8px;
    background-color: $icon-background-color;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
    color: $color-grey;

    &:focus, &:hover {
      background-color: $color-blue-light;
      color: white;
    }

    &--hide-md {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      &--hide-sm {
        display: none;
      }

      &--hide-md {
        display: block;
        float: right;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    //&__edit-icon {
    //  float: right;
    //  display: block;
    //}

  }
}