.personal-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-left: 28px;
  margin-top:16px;

  @media only screen and (max-width: 768px) {
    & {
      align-self: stretch;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 0;
      margin-top:8px;
    }
  }

}