.picture-frame {
  width: 140px;
  height: 140px;
  position: relative;
  top: -8px;
  overflow: hidden;
  box-shadow: 0 0 20px 3px #dcdee0;

  &__image {
    width: 168%;
    margin-left: -62px;
  }

  @media only screen and (max-width: 768px) {
    & {
      height: 120px;
      width: 120px;
      top: -5px;
    }

    &__image {
      width: 222%;
      margin-left: -106px;
    }
  }
}