.ratings {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;

  &__stars {
    display: flex;
    font-size: 18px;
    margin-right: 16px;
    color: $color-grey;
  }

  &__star {
    margin: 0 4px;
  }

  &__reviews {
    font-size: 12px;
    color: $color-grey;
    font-weight: 600;
    line-height: 24px;
  }

  &__reviews-text {
    margin-left: 8px;
  }

  @media only screen and (max-width: 768px) {
    & {
      flex-direction: column;
    }

    &__stars {
      color: $color-blue-light;
      font-size: 21px;
      margin-bottom: 2px;
    }

    &__star {
      margin-left: 0;
    }

    &__reviews {
      font-size: 12px;
      color: $color-grey;
      font-weight: 400;
      line-height: 24px;
      padding-top: 24px;
    }
  }
}