.upload-cover {
  display: flex;
  justify-content: center;
  margin-top: 18px;

  &__icon {
    margin-right: 16px;
    font-size: 22px;
  }

  &__button-text {
    color: $color-grey-light;
  }

  @media only screen and (max-width: 768px) {
    & {
      display: none;
    }
  }
}