.user-details {
  display: flex;
  padding: 0 16px;
  flex: 1;

  @media only screen and (max-width: 768px) {
    & {
      margin-top: 32px;
      padding: 0 24px;
      flex-direction: column;
      align-items: center;
    }
  }
}