$font-family: 'Open Sans', sans-serif;

$main-background-color: #f5f7f9;
$icon-background-color: #dcdee0;
$content-background-color: #fff;
$content-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
$font-color: #3f454a;

$color-blue-light: #4f93ce;

$color-grey-lighter: #D2DCE6;
$color-grey-light: #a5b0b5;
$color-grey: #717e87;

